# 忽略编译生成的文件
*.o
*.out
*.exe

# 忽略临时文件和目录
*.tmp
*.temp
/temp/
/tmp/

# 忽略日志文件
*.log

# 忽略IDE和编辑器生成的文件和目录
.idea/
.vscode/

# 忽略依赖和构建工具生成的目录
/node_modules/
/dist/
/build/

# 忽略配置文件
config.ini
config.json

# 忽略特定操作系统生成的文件和目录
.DS_Store
Thumbs.db

# 忽略环境配置文件
.env

# 忽略压缩文件
*.zip
*.tar.gz

hd.img
bx_enh_dbg.ini
build/

hd.img

*/cmake-build-debug
/cmake-build-debug
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/c-basics/c-basics
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-970a4786a05189530c8b.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/c-basics/cmake_install.cmake
/cmake-build-debug/x86/cmake_install.cmake
/cmake-build-debug/x86_64/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7ebf895274cf7d932096.json
/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7e6fb5952719366cbb29.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-c-basics-Debug-752ca0caee9a68a6f34d.json
/cmake-build-debug/.cmake/api/v1/reply/directory-x86-Debug-a90e393544c147000c2a.json
/cmake-build-debug/.cmake/api/v1/reply/directory-x86_64-Debug-e93ee547654f30a9bdb2.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-12-23T01-07-07-0079.json
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-c-basics-Debug-7923a9fb59bdceac09dc.json
/cmake-build-debug/.cmake/api/v1/reply/target-x86-Debug-0719479c5f1e1906240f.json
/cmake-build-debug/.cmake/api/v1/reply/target-x86_64-Debug-b03dc843722e29172a7a.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-43c0d08dc751aaaf5d20.json
/cmake-build-debug/x86/x86
/cmake-build-debug/x86_64/x86_64
